<section class="values">
    <div class="values__container">
        <h2 class="values__headline">Our Values</h2>
        <ul class="assets">
            <li class="assets__item">
                <svg class="assets__img">
                    <use href="/src/images/icons.svg#icon-assets-1"></use>
                </svg>
                <p class="animate__animated assets__description">Adapted
                    author's UPE program</p>
            </li>
            <li class="assets__item">
                <svg class="assets__img">
                    <use href="/src/images/icons.svg#icon-assets-2"></use>
                </svg>
                <p class="animate__animated assets__description">Modern
                    teaching methods</p>
            </li>
            <li class="assets__item">
                <svg class="assets__img">
                    <use href="/src/images/icons.svg#icon-assets-3"></use>
                </svg>
                <p class="animate__animated assets__description">Financial
                    guarantee the result
                </p>
            </li>
        </ul>
    </div>
</section>