<section class="feedback">
  <div class="feedback__container">
    <h2 class="feedback__headline">Feedback from graduates</h2>
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img alt="Fake portrait photo of Angela Merkel" src="./images/seventh-review.png" />
          <div class="swiper__wrapper">
            <h3 class="swiper__name">Angela Merkel</h3>
            <p class="swiper__info">
              Holder of a Diploma in Physics from the class of 1978 at University of Leipzig
            </p>
            <p class="swiper__review">
              Simply put, the best English teacher I've ever had. She goes above and beyond to
              ensure every student grasps the complexities of language. Her commitment to student
              success is evident in the progress I've made.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <img alt="Fake portrait photo of Malala Yousafzai" src="./images/sixth-review.png" />
          <div class="swiper__wrapper">
            <h3 class="swiper__name">Malala Yousafzai</h3>
            <p class="swiper__info">
              Graduated from 2020 at University of Oxford in field of Philosophy, Politics, and
              Economics
            </p>
            <p class="swiper__review">
              A true inspiration in the world of education. Her passion for literature is
              contagious, igniting a genuine interest in even the most reluctant learners. Patient,
              approachable, and dedicated.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <img alt="Fake portrait photo of Tonya Kucherovskaya" src="./images/first-review.png" />
          <div class="swiper__wrapper">
            <h3 class="swiper__name">Tonya Kucherovskaya</h3>
            <p class="swiper__info">
              Graduated from 2018, National University of Bioresources and Natural History of
              Ukraine
            </p>
            <p id="formMobile" class="swiper__review">
              Elena is a beacon of excellence in preparation for UPE certification. Her dynamic
              teaching style effortlessly instills language proficiency. With a perfect balance of
              rigour and warmth, she cultivates an inspiring learning atmosphere. A true asset for
              language education.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <img alt="Fake portrait photo of Milla Jovovich" src="./images/second-review.png" />
          <div class="swiper__wrapper">
            <h3 class="swiper__name">Milla Jovovich</h3>
            <p class="swiper__info">
              Holder of a master's degree from the class of 2020 at Kyiv National University
            </p>
            <p class="swiper__review">
              Elena is a true gem in the realm of language education. As a colleague and fellow
              educator, I have had the privilege to witness her remarkable teaching skills
              firsthand. I wholeheartedly recommend Elena as an exceptional English teacher and
              mentor.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <img
            alt="Fake portrait photo of Maria Sklodowska-Curie"
            src="./images/fifth-review.png"
          />
          <div class="swiper__wrapper">
            <h3 class="swiper__name">Maria Sklodowska-Curie</h3>
            <p class="swiper__info">
              Doctor of Science from Sorbonne University (now part of Paris-Saclay University
            </p>
            <p class="swiper__review">
              An exceptional English teacher! Her knowledge in literature radiates me brilliantly.
              Her deep understanding of texts and insightful analysis inspire a profound
              appreciation for literary works among her students. Engaging discussions in her class
              are a testament to her expertise.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <img alt="Fake ortrait photo of Olga Kurylenko" src="./images/fourth-review.png" />
          <div class="swiper__wrapper">
            <h3 class="swiper__name">Olga Kurylenko</h3>
            <p class="swiper__info">Graduated from 2021, University of Warsaw</p>
            <p class="swiper__review">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <img alt="Fake portrait photo of Natalia Petrovych" src="./images/third-review.png" />
          <div class="swiper__wrapper">
            <h3 class="swiper__name">Natalia Petrovych</h3>
            <p class="swiper__info">
              Ph.D. in Economics from Taras Shevchenko National University of Kyiv
            </p>
            <p class="swiper__review">
              Elena is an exceptional English teacher with UPE certification. Her passion for
              teaching shines through her engaging lessons. She creates a supportive environment,
              fostering language skills and confidence. Elena's expertise and dedication make
              learning enjoyable and effective. Highly recommended English teacher!
            </p>
          </div>
        </li>
      </ul>
      <div class="swiper__pagination">
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
