<footer>
    <section class="footer" id="contact">
        <div class="footer__container">
            <svg class="logo">
                <use href="./images/icons.svg#icon-logo">
                </use>
            </svg>
            <ul class="contact">
                <li class="contact__item">
                    <svg class="contact__icon">
                        <use href="./images/icons.svg#icon-phone"></use>
                    </svg>
                    <a class="contact__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                </li>
                <li class="contact__item">
                    <svg class="contact__icon">
                        <use href="./images/icons.svg#icon-envelope"></use>
                    </svg>
                    <a class="contact__link" href="https://www.youtube.com/watch?v=J81Oh-5vzIs" target="_blank"
                        rel="noreferrer noopener">hello@iwishyouwellinhell.en</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="copyrights">
        <div class="copyrights__container">
            <p>&#169; 2023 - Hellish English. All Rights Reserved.</p>
        </div>
    </section>
</footer>