<header class="header">
  <div class="header__container">
    <a href="index.html">
      <svg class="logo">
        <use href="./images/icons.svg#icon-logo">
        </use>
      </svg>
    </a>
    <ul class="navigation">
      <li class="navigation__item"><a class="navigation__link">Studying program</a></li>
      <li class="navigation__item"><a class="navigation__link">About</a></li>
      <li class="navigation__item"><a class="navigation__link">Training options</a></li>
      <li class="navigation__item"><a class="navigation__link">Contact</a></li>
    </ul>
    <button class="header__button" type="button">Consultation by phone</button>
    <div class="header__menu hamburger-icon js-open-menu" id="icon">
      <div class="icon-1" id="a"></div>
      <div class="icon-2" id="b"></div>
      <div class="icon-3" id="c"></div>
      <div class="clear"></div>
    </div>
  </div>
</header>