<section class="hero">
  <div class="hero__container">
    <div>
      <h1 class="hero__headline">Complex preparation for English UPE</h1>
      <p class="hero__description">
        It won’t be easy.
        <span class="hero__description--black">But you’re guaranteed to get</span>
        <span class="animate__animated animate__infinite hero__description--orange">+25 points</span>
      </p>
      <a class="hero__button" href="#form">I want a free lesson</a>
    </div>
    <div class="hero__wrapper">
      <img class="hero__image" alt="People working together in a conference room" src="./images/hero-mobile.png" srcset="
      images/hero-mobile.png        208w,
      images/hero-mobile@2x.png     416w,
      images/hero-mobile@3x.png     624w,
      images/hero-tablet.png        376w,
      images/hero-tablet@2x.png     752w,
      images/hero-tablet@3x.png    1128w,
      images/hero-desktop.png       842w,
      images/hero-desktop@2x.png   1684w,
      images/hero-desktop@3x.png   2526w,
    " sizes="(min-width: 1200px) 642px, (min-width: 376px) 346px, (min-width: 340px) 306px, (min-width: 280px) 246px, 100vh" />
    </div>
  </div>
</section>