<div class="mobile-menu js-menu-container" id="mobile-menu">
    <ul class="mobile-nav">
        <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#programMobile">Studying program</a>
        </li>
        <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#aboutMobile">About</a>
        </li>
        <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#trainingMobile">Training options</a>
        </li>
        <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="#contacts">Contact</a>
        </li>
    </ul>
    <button class="mobile-menu__button-order">
        <a class="mobile-menu__link" href="#formMobile">Consultation by phone</a>
    </button>
</div>