<section class="program">
    <div class="program__container">
        <h2 class="program__headline">Our program</h2>
        <ul class="plan">
            <li class="plan__item">
                <div>
                    <h3 class="plan__headline">1 Semester</h3>
                    <div class="plan__tablet-wrapper">
                        <div class="plan__wrapper plan__wrapper--space">
                            <p class="plan__subheadline">Grammar</p>
                            <p class="plan__topic">Nouns & Articles</p>
                            <p class="plan__topic">Adjectives & Adverb</p>
                        </div>
                        <div class="plan__wrapper">
                            <p class="plan__subheadline">Vocabulary</p>
                            <p class="plan__topic">Family & Relations</p>
                            <p class="plan__topic">People & Society</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="plan__item">
                <div>
                    <h3 class="plan__headline">2 Semester</h3>
                    <div class="plan__tablet-wrapper">
                        <div class="plan__wrapper plan__wrapper--space">
                            <p class="plan__subheadline">Grammar</p>
                            <p class="plan__topic">Pronouns</p>
                            <p class="plan__topic">Active Voice</p>
                            <p class="plan__topic">Passive Voice</p>
                        </div>
                        <div class="plan__wrapper">
                            <p class="plan__subheadline">Vocabulary</p>
                            <p class="plan__topic">Home</p>
                            <p class="plan__topic">School</p>
                            <p class="plan__topic">Work</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="plan__item">
                <div>
                    <h3 class="plan__headline">3 Semester</h3>
                    <div class="plan__tablet-wrapper">
                        <div class="plan__wrapper plan__wrapper--space">
                            <p class="plan__subheadline">Grammar</p>
                            <p class="plan__topic">Modal verbs</p>
                            <p class="plan__topic">Infinitive</p>
                            <p class="plan__topic">Gerund</p>
                            <p class="plan__topic">Participle: 1, 2</p>
                        </div>
                        <div class="plan__wrapper plan__wrapper--space">
                            <p class="plan__subheadline">Vocabulary</p>
                            <p class="plan__topic">Travel & Tourism</p>
                            <p class="plan__topic">Culture & Free Time</p>
                            <p class="plan__topic">Sport</p>
                        </div>
                        <div class="plan__wrapper plan__wrapper--last">
                            <p class="plan__subheadline">Writing</p>
                            <p class="plan__topic">Informal Letter</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="plan__item">
                <div>
                    <h3 class="plan__headline">4 Semester</h3>
                    <div class="plan__tablet-wrapper">
                        <div class="plan__wrapper plan__wrapper--space">
                            <p class="plan__subheadline">Grammar</p>
                            <p class="plan__topic">Clauses: Conditional and Wishes</p>
                            <p class="plan__topic">Direct / Reported speech</p>
                            <p class="plan__topic">Preposition</p>
                            <p class="plan__topic">Conjunction</p>
                            <p class="plan__topic">Numeral</p>
                        </div>
                        <div class="plan__wrapper plan__wrapper--space">
                            <p class="plan__subheadline">Vocabulary</p>
                            <p class="plan__topic">Healthy Living</p>
                            <p class="plan__topic">Nature & Environment</p>
                            <p class="plan__topic">Money</p>
                        </div>
                        <div class="plan__wrapper plan__wrapper--last">
                            <p class="plan__subheadline">Writing</p>
                            <p class="plan__topic">Formal Letter</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="plan__item">
                <div>
                    <h3 class="plan__headline">5 Semester</h3>
                    <div class="plan__tablet-wrapper">
                        <div class="plan__wrapper">
                            <p class="plan__subheadline plan__subheadline--padding"></p>
                            <p class="plan__topic">Revision</p>
                            <p class="plan__topic">Tests</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="program__photo">
            <img src="./images/program-tablet.png" alt="People working together in a conference room" srcset="
    images/program-tablet.png      384w,
    images/program-tablet@2x.png   768w,
    images/program-tablet@3x.png   1152w
  " sizes="(min-width: 1200px) 346px, (min-width: 768px) 384px, 100vh" />
        </div>
    </div>
</section>