<section class="teacher" id="teacher">
    <div class="teacher__container">
        <div>
            <h2 class="teacher__headline">
                Teacher
            </h2>
            <div class="teacher__wrapper">
                <img class="teacher__photo" alt="Portrait photo of an english teacher Elena Morova"
                    src="./images/teacher-mobile-243.png" srcset="
        images/teacher-mobile-243.png      243w,
        images/teacher-mobile-243@2x.png   486w,
        images/teacher-mobile-243@3x.png   729w,
        images/teacher-desktop-530.png     530w,
        images/teacher-desktop-530@2x.png 1060w,
        images/teacher-desktop-530@3x.png 1590w,
        " sizes=" (min-width: 1200px) 530px, (min-width: 768px) 243px, (min-width: 480px) 243px, (max-width: 480px) 243px, 100vh" />
            </div>
        </div>
        <div>
            <h3 class="teacher__name">Elena Moreva</h3>
            <ul class="achievments">
                <li class="achievments__item">
                    <svg class="achievments__icon">
                        <use href="/src/images/icons.svg#icon-accept"></use>
                    </svg>
                    10 years of experience in preparing students for UPE
                </li>
                <li class="achievments__item">
                    <svg class="achievments__icon">
                        <use href="/src/images/icons.svg#icon-accept"></use>
                    </svg>
                    Own result of passing VNO - 197 points 2 years in a row
                </li>
                <li class="achievments__item">
                    <svg class="achievments__icon">
                        <use href="/src/images/icons.svg#icon-accept"></use>
                    </svg>
                    Passed excellent at the international analogue of UPE
                </li>
            </ul>
            <p class="teacher__about">Graduated from the Institute of International Relations of the NAU with a degree
                in
                translator-analyst. In spare time takes courses from the best universities in the world on effective
                teaching and essay writing
                techniques. <br />
                Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University
                of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of
                Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).</p>
            <a class="teacher__certificate">Cambrige English Entry Level Certificate</a>
        </div>
    </div>
</section>