<section class="why-us">
    <div class="why-us__container">
        <h2 class="why-us__headline">Why do people choose us
        </h2>
        <div class="why-us__wrapper">
            <ul class="why-us__list">
                <li class="why-us__item">
                    <p class="why-us__item--number">— 01</p>
                    <p class="why-us__item--text">Training in small groups</p>
                </li>
                <li class="why-us__item">
                    <p class="why-us__item--number">— 02</p>
                    <p id="aboutMobile" class="why-us__item--text">Rendered notes</p>
                </li>
                <li class="why-us__item">
                    <p class="why-us__item--number">— 03</p>
                    <p class="why-us__item--text">Each lesson has a goal and a specific result</p>
                </li>
                <li class="why-us__item">
                    <p class="why-us__item--number">— 04</p>
                    <p class="why-us__item--text">The real results of the teacher</p>
                </li>
                <li class="why-us__item">
                    <p class="why-us__item--number">— 05</p>
                    <p class="why-us__item--text">The course program meets the requirements of the MES</p>
                </li>
                <li class="why-us__item">
                    <p class="why-us__item--number">— 06</p>
                    <p class="why-us__item--text">Set of groups by level of knowledge</p>
                </li>
            </ul>
        </div>
    </div>
</section>